<h1>Create New Pizza</h1>
<form method="POST" action="/pizzas">
    Name: <br>
    <input type="text" name="pizza[name]" value="Name"><br>
    Sauce: <br>
    <input type="text" name="pizza[sauce]" value="Sauce"><br>
    Cheese: <br>
    <input type="text" name="pizza[cheese]" value="Cheese"><br>
    Mushrooms: <br>
	<input type="text" name="pizza[mushrooms]" value="Mushrooms"><br>
    <input type="submit" value="Submit">
</form>