body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin:0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #777;
}

li {
	display: inline;
	color: white;
	text-align: center;
	padding: 14px 16px;
}

h1 {
	text-align: center;
}

.inline {
	display: inline-block;
}

#leftParagraph {
	float: left;
	width:60%;
	height:200px;
	margin:10px;
}

#rightImage {
	float: right;
	width:200px;
	height:200px;
	margin:10px;
}
