

<div class="container-fluid" name="artists">
    <div class="row ">
        {{#each artists}}
        <div class="col-lg-3 col-md-6 col-xs-12 artist-square">
          <ul class="thumblist">
            <a href="/artists/{{_id}}"><li><img class='bw' src="{{photo_url}}"/></li></a>
          </ul>
        </div>
        {{/each}}

    </div>

</div>
<div class="add-artist-button">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new-artist-modal">
  <i class="fa fa-plus fa-3x"></i>
  </button>
</div>

<!--------Form for New Artists--------->
<div class="modal fade" id = "new-artist-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title labels">Be A Legend</h4>
        <p class='labels'>
          Don't add yourself if you suck. (I'm talking to you J.Cole)
        </p>
      </div>
      <div class="modal-body">
        <div class="container-fluid">

        <form action="/artists" method="post" class="form-group">
          <label for="artist-name" class='labels'>Artist Name:</label>
          <input id="artist-name" type="text" name="name" class="form-control">
          <label for="artist-hitSong" class='labels'>Hit Song:</label>
          <input id="artist-hitSong" type="text" name="hitSong" class="form-control">
          <label for="artist-bio" class='labels'>Artist Bio:</label>
          <input id="artist-bio" type="text" name="bio" class="form-control">
          <label for="artist-photo_url" class='labels'>Artist Picture URL:</label>
          <input id="artist-photo_url" type="text" name="photo_url" class="form-control">



        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-success">
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
