<% include ./partials/head %>

<div class="container">
	<body>
	<% include ./partials/header %>

	<h1 class="centeralign">Add a Quote</h1> 
		<br>  
		<div class="container">
		    <% include ./partials/quote/form %>
		</div>
	</body>
</div>

<% include ./partials/footer %>

</html>