<% include partials/head %>
<% include partials/header %>

<ul>
<% quotes.forEach(function(quote) { %>
	<li>
	<!-- HTML tag to specify a text from another source -->
		<blockquote>
			<p><%= quote.text %></p>
			<footer><%= quote.author %></footer>
		</blockquote>
	</li>
<% }); %>
</ul>

<nav>
	<%- link_to('Add a New Quote',
	'what happens here?') %>
</nav>
<% include partials/footer %>