<!DOCTYPE html>
<html>
<head>
  <title>Welcome to the 30 Day Challenge</title>
  <link rel="stylesheet" type="text/css" href="public/css/reset.css">
  <link rel="stylesheet" type="text.css" href="/public/css/style">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">The 30 Day Challenge</a></li>
        <li><a href="/challenges">Challenges</a></li>
        <li><a href="/challenges/new">Add a Challege</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer>
    Cindy Tong, WDI26, Sinatra App Homework
  </footer>
</body>
</html>