.header{
	text-align: center;
	font-family: 'Rubik Mono One', sans-serif;
	color: white;

	margin-top: 100px;

	background-color: #028482;

}

/*.top-container{
	margin-left: 100px;
}*/

#header-img{
	width: 2em;
}

#subtitle{
	font-size: 1em;
	font-family: 'Palanquin', sans-serif;
}

.quotes{
	font-size: 2em;
}

#entry-form{
	text-align: center;

	font-family: 'Palanquin', sans-serif;
}



#submit-btn{
	background-color: #00cdcd;
	border-style: none;
	
	height: 45px;
	border-radius: 5px;
	padding-bottom: 5px;

	font-size: 20px;

	color: white;

	font-family: 'Rubik Mono One', sans-serif;*/
}

#submit-btn:hover{
	
	background-color: #006767;
	border-style: none;
}

body{
	/*background-image: url(../images/motorcycle.JPG);*/
	/*background-size: 3000px;
	background-position: -1500px;
	background-repeat: no-repeat;*/
	/*position: absolute;*/
	background-size: 400px;
	background-image: url(../images/wood_yellow.png);
	background-repeat: repeat;
}

ul{

	list-style-type: none;
	text-align: center;
	
	/*min-width: 400px;
	max-width: 600px;*/
	margin: 0 auto;
}

li{
	
	/*background-color: #00cdcd;*/
	/*border: 1px solid white;*/
	/*border-bottom: 2px solid black;*/
	font-family: 'Palanquin', sans-serif;
	/*color: white;*/

	border-radius: 10px;

	position: relative;
	width: 80%;

	margin: 0 auto;

	padding-top: 15px;

	vertical-align: text-top;
	text-align: center;

	font-size: 2em;
	font-style: bold;

}

img{
	border-radius: 10px;
	max-width: 50%;
}

li p{
 	padding-bottom: 20px;
 	vertical-align: text-top;
 }

.footer{

}


/*#close{
	width: 20px;
	padding-left: 10px;
}*/


::-webkit-input-placeholder {
 font-size: 14px;
 text-transform: lowercase;
 text-align: center;
 font-weight: bold;

 color: #f7f7f7;
}
:-moz-placeholder { /* older Firefox*/
 font-size:14px;
 text-transform: lowercase;
 text-align: center;
 font-weight: bold;

 color: #f7f7f7;
}
::-moz-placeholder { /* Firefox 19+ */ 
 font-size: 14px;
 text-transform: lowercase;
 text-align: center;
 font-weight: bold;

 color: #f7f7f7;
} 
:-ms-input-placeholder { 
 font-size: 14px; 
 text-transform: lowercase;
 text-align: center;
 font-weight: bold;

 color: #f7f7f7;
}






























