body {	
}

ul {
	border: 3px plum dotted;
}
ul li {
}

/*******************
*			 *
* animal-specific IDs    *
*			 *
*******************/

#mouse{
	color: gray;
}
#canary{
	color: orangeRed;
}
#penguin{
	color: black;
}
#salmon{
	color: salmon;
}
#cat{
	color: sienna;
}
#goldfish{
	color: gold;
}
#dog{
	color: tan;
}
#sheep{
	color: steelBlue;
}
#parakeet{
	color: lime;
}
#tuna{
	color: purple;
}


/***********************
*			        *
* kingdom-specific classes   *
*			        *
***********************/

.bird{
	color: lightGray;
	font-style: italic;
}
.fish{
	color: lightYellow;
	text-decoration: underline;
}
.mammal{
	color: lavenderBlush;
	font-weight: bold;

}
Status API Training Shop Blog About Pricing
© 2016 GitHub, Inc. Terms Privacy Security Contact Help