THIS IS home
{{homeTest}}
<div>
  <form ng-submit="createTodo()"/>
    <input ng-model="newTodo.task"/>
    <input type="submit" value="Submit!"/>
  </form>

  <ul ng-repeat="todo in todos" ng-hide="todo.displayEditForm">
    <li>{{todo.task}} {{todo.complete}} <i class='fa fa-times' ng-click="deleteTodo(todo)"></i></li>
    <i class="fa fa-pencil" ng-click="displayEditForm = true"></i><br>
    <div ng-hide="todo.displayEditForm">
      <form ng-show="displayEditForm" ng-submit="updateTodo(todo)">
        <div class="form-group">
          <input type="text" ng-model="todo.task" class="form-control" placeholder={{todo.task}}>
        </div>
        <input type="submit" value="Save Todo" class="btn btn-default">
      </form>
    </div>
  </ul>

</div>
