<h1>Add Task</h1>
<form method="POST" action="/tasks">
    Title: <br>
    <input type="text" name="task[title]" value="Title"><br>
    Artist: <br>
    <input type="text" name="task[description]" value="Description"><br>
    <input type="submit" value="Submit">
</form>
