<form action="/tasks" method="POST" role="form">
       <legend>Add Task</legend>

       <div class="form-group">
        <!-- <label for="">label</label> -->
        <p>
          <input type="text" class="form-control input" name="task[title]" placeholder="Task">
        </p>
        <p>
          <input type="text" class="form-control input" name="task[description]" placeholder="Description">
        </p>

        <p>
          <input type="text" class="form-control input" name="task[due_date]" placeholder="Due Date">
        </p>

        <p>
          <input type="text" class="form-control input" name="task[project]" placeholder="Project">
        </p>
      </div>



       <button type="submit" class="btn btn-primary">Submit</button>
</form>
