* {
    font-family: 'Armata', sans-serif;
    
}


.section {
    
}
.add-killer {
    font-size: 1.9em;
    width: 27em;
    margin-left: 1em;
    margin-right: 0 auto;
    margin-bottom: 1em;
    margin-top: 0 auto;
    position: relative;
    float:left;

   
   
}

#label {
    text-align: right;
}

.hero {
    font-size: 3em;
    text-align: left;
    margin-left: .4em;
    margin-bottom: .3em;
    margin-top: 0;
    position: relative;
}
.col-centered {
    float: left;
    margin: 1em;
}


.data {
    font-size: 1.3em;
    position: absolute;
    margin: .7em;
    margin-left: 1em;
    margin-right: 12em;
    text-align: right;
    display: inline-block;
    float:left;
}
img {
    width: 25em;
    height: 10em;
    overflow-y: hidden;
    overflow-x: hidden;
    display: inline-block;
    position: absolute: float: right;
    border: 4px solid #000000;
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: 1em;
    margin-right: -13em;
    object-fit: cover;
    float:right
}


.index {
    height: 300px;
}

#row {
    height: 12.25em;
    width:52em;
    border: 3px solid rgba(18, 22, 22, .20);
    overflow-y: hidden;
    padding: .5em;
    float: right;
    margin-right: 7em;
    margin-left: 3em;
    margin-top: 1em;
    position: relative;
   
    
}


.btn-fresh {
    font-size: auto;
    width: 18em;
    background-color: rgba(18, 22, 22, .50);
    color: #ffffff;
    border-color: #000000;
    border-width: 2px;
    margin-top: 1.3em;
    margin-left: 21.1em;
    margin-bottom: 1em;
}
.btn-delete{
    font-size: 2.5em;
    width: 3em;
    background-color: rgba(18, 22, 22, .10);
    color: #ffffff;
    border-color: #000000;
    border-width: 2px;
    margin-top: .4em;
    margin-left: -.6em;
}
#header{
    margin-bottom: 2em;
}




 