<h1>Cities</h1>
<ul>
<% for(var i = 0; i< cities.length; i++) { %>
   <li><%= cities[i].name %> </li>
<% } %>
</ul>

<form action="/cities" method="POST">
  <input type="text" name="name">
  <input type="submit" value="submit">
</form>

<button> delete </button>
