html {
	background: url("images/image.jpeg") no-repeat center center fixed;
	background-size: cover;
}

h1 {
	color: white;
	text-align: center;
	font-size: 2.5em;
}
#getsInput {
	text-align: center;
	height: 40px;
	width: 500px;
	font-size: 1.5em;
}
body {
	text-align: center;
}
#btn {
	color: #ffffff;
	height: 45px;
	width: 80px;
	font-size: 1.5em;
	background-color: #b2c081
}
