body {
    height: 800px;
    position: relative;
}
.wrapper {
    position: relative;
}

.header {
    height: 20%;
    width: 100%;
    position: relative;
}


.header-nav {
    text-align: center;
    padding: 30px;
    font-family: Kanit;
    border-bottom: 1px dashed gray;
}
.page-nav {
    padding-right: 10px;
}


.main-content {
    width: 100%;
    text-align: center;
}
.main-content h1 {
    font-family: Indie Flower;
    font-size: 8em;
    margin-bottom: -50px;
    margin-top: 20px;
    color: rgba(100, 100, 100, .8);
}
.main-content h2 {
    font-family: Kanit;
    font-weight: 100;
    font-size: 50px;
}

.main-content h3 {
    font-family: Indie Flower;
    font-weight: 200;
    font-size: 30px;
    color: gray;
}

.main-content p {
    font-family: Kanit;
    font-weight: 100;
    font-size: 20px;
}
#red-text {
    color: red;
}

.footer {
    text-align: center;
    margin-top: 200px;
}
.footer-nav {
    text-align: center;
}
ul {
    position: relative;
    margin-right: 40px;
    list-style: none;
    text-align: center;
}
li {
    display: inline;
    padding: 10px;
}
a {
    text-decoration: none;
    font-size: 20px;
    color: red;
}
a:hover {
    color: gray;
}
a:focus {
    color: rgba(100, 100, 100, .6);
}

.portfolio {
    text-align: center;
}

img {
    margin: auto;
    padding: 30px;
    width: 700px;
    height: 500px;
    display: block;
}
.portfolio-nav {
    margin-top: -30px;
}