<nav class="navbar navbar-default" id="transparent">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Magic of Motown</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/albums">Browse All Albums</a></li>
      <li><a href="/albums/new">Create Album</a></li>
      <li><a href="/search">Search Albums</a></li>
      <li><a href="/deathmetal" style="font-size: 20px">&#9760;</a></li>
    </ul>
  </div>
</nav>