<form method="POST" action="/albums/{{album._id}}" class="form-horizontal">
    <input type="hidden" id="albumId" value={{album._id}}>
    <div class="table-responsive">
        <table id="songTable" class="table-bordered">
        <h2 id="newAlbum">Add Tracks</h2>
        <h2 class="text-center">Album: {{album.name}}</h
            <thead>
                <th style="width:5%">Track#</th>
                <th style="width:70%">Song Title Name</th>
                <th style="width:20%">Duration</th>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" name="trackNumber" class="form-control" /></td>
                    <td><input type="text" name="title" class="form-control"/></td>
                    <td><input type="text" name="duration" class="form-control"/></td>
                </tr>
                <tr>
                    <td><input type="text" name="trackNumber" class="form-control" /></td>
                    <td><input type="text" name="title" class="form-control"/></td>
                    <td><input type="text" name="duration" class="form-control"/></td>
                </tr>
                <tr>
                    <td><input type="text" name="trackNumber" class="form-control" /></td>
                    <td><input type="text" name="title" class="form-control"/></td>
                    <td><input type="text" name="duration" class="form-control"/></td>
                </tr>
                <tr>
                    <td><input type="text" name="trackNumber" class="form-control" /></td>
                    <td><input type="text" name="title" class="form-control"/></td>
                    <td><input type="text" name="duration" class="form-control"/></td>
                </tr>
                 <tr>
                    <td><input type="text" name="trackNumber" class="form-control" /></td>
                    <td><input type="text" name="title" class="form-control"/></td>
                    <td><input type="text" name="duration" class="form-control"/></td>
                </tr>
                 <tr>
                    <td><input type="text" name="trackNumber" class="form-control" /></td>
                    <td><input type="text" name="title" class="form-control"/></td>
                    <td><input type="text" name="duration" class="form-control"/></td>
                </tr>
                 <tr>
                    <td><input type="text" name="trackNumber" class="form-control" /></td>
                    <td><input type="text" name="title" class="form-control"/></td>
                    <td><input type="text" name="duration" class="form-control"/></td>
                </tr>
                 <tr>
                    <td><input type="text" name="trackNumber" class="form-control" value=""/></td>
                    <td><input type="text" name="title" class="form-control"/></td>
                    <td><input type="text" name="duration" class="form-control"/></td>
                </tr>
                 <tr>
                    <td><input type="text" name="trackNumber" class="form-control" value=""/></td>
                    <td><input type="text" name="title" class="form-control"/></td>
                    <td><input type="text" name="duration" class="form-control"/></td>
                </tr>
                 <tr>
                    <td><input type="text" name="trackNumber" class="form-control" /></td>
                    <td><input type="text" name="title" class="form-control"/></td>
                    <td><input type="text" name="duration" class="form-control"/></td>
                </tr>
            </tbody>

        </table>

        <div class="form-group">
            <div class="text-center">
                <button class="saveBtn" id="newTracksBtn">Save Tracks</button>
            </div>
        </div>
    </div>
</form>



