body{
	background: aquamarine;

}
p{
	font-size: 17px;
	font-family: serif;
	color: black;
}
h1{
	font-family: serif;
	font-size: 35px;
	color: indigo;
}
h3{
	font-size: 24px;
	font-style: serif;
	color: red;
}

h4{
	font-size: 25px;
	color: blue;
}
img{
	float right: 
}