body {
	background: url("images/image.jpeg") no-repeat center center fixed;
	background-size: cover;
}
#getsInput {
	margin: 20px;
	text-align: center;
	height: 40px;
	width: 600px;
	font-size: 1.5em;
}
body {
	text-align: center;
	margin-left: 25px;
}

#tasks {
list-style-type: none;
font-size: 1.5em;
color: white;
position: relative;
margin: 5px;
}

ul {
	margin-left: 150px;
	margin-right: 182px;
	padding-bottom: 100px;
	position: relative;
}
li{
	background-color: rgba(192,192,192,0.3);
	width: 600px;
	text-align: center;
	margin-left: 22%;
	margin-right: 25%;
	margin-top: 10px;
	height: 34px;
}
button {
	clear: both;
}
.closeBtn {
	float: right;
}
