body {
	background-image: url("ignasi_pattern_s.png");
}
header {
	text-align: center;
}
h3 {
	font-style: italic;
	font-size: 24px;
	font-weight: normal;
}
ul {
	display: inline;
}
#blurb {
	display: block;
	position: relative;
	margin: 10px auto;
	font-size: 20px;
	padding: 5px 5px;
	font-family: 'Lato', sans-serif;
}
#submitButton {
    padding: 5px 5px; 
	height: 30px;
	width: 100px;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	color: white;
	font-weight: normal;
	border: white 1px solid;
	background-color: lightgray;
}
#postbar {
	text-align: center;
}
#postingBoard {
	text-align: center;
	font-size: 20px;
}
.text {
	font-family: 'Lato', sans-serif;
}
.buttonclass {
	height: 20px;
	width: 20px;
	background-color: lightgray;
	border: white 1px solid;
	margin: 5px;
	color: white;
}


@media only screen and (max-width: 960px) {
	
}
/*media query resizing header text sizes
media query resizing blog input box
media query resizing li text sizes*/
@media only screen and (max-width: 640px) {
#blurb {
	width: 300px;
	height: 30px;
}
h1 {
	font-size:20px;
}
h3 {
	font-size: 18px;
}
li {
	font-size: 18px;
}
.postingList {
	max-width: 300px;
}
}
