body {
  background-color:  #32806e;
  text-align:center;
  color: #f4f4f4;
}

h2 {
  color: #33DD33;
}

#board {
  display:inline-block;
  width: 600px;
  background-color: #333335;
  text-align:center;
  box-shadow: 20px 15px 10px 2px rgba(0,0,0,0.75);
  border-style:solid;
  border-width: 1px;
  border-color: #f4f4f4;
  border-radius: 3px;
}

#board > table{
  display:inline-block;
  font-size: 900%;
}

#board table tr td {
  border-style:solid;
  border-width: 12px;
  border-bottom-color: #d4d4d4;
  border-right-color: #d4d4d4;
  width: 200px;
}

#board table tr td a{
  display:block;
  color: #F4F4F4;
  text-decoration: none;
}
