* {
	border-radius: 0 !important;
}

body {
	font-family: 'Gruppo', cursive;
    color: #000000 !important;
}

/*----------  FOR NAVBAR HEADER  ----------*/
.navbar {
	background: url("/images/sound_controller.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #FFF9EA;
}

.navbar-brand {
	font-family: 'Gruppo', cursive;
	font-size: 10em;
	height: 1em;
    padding: 1.2em 9.5px;
    padding-left: 0.3em;
    padding-bottom: 0.9em;
    padding-top: 0.6em;
}

.navbar-brand:hover {
	text-decoration: none;
	text-shadow: 0 0 .07em #FFF9EA;
	backface-visibility: visible; 
	color: #FFF9EA;
	backface-visibility: hidden;
	
}

.navbar-default {
	border: none;
}

.navbar-default .navbar-brand {
	color: #FFF9EA;
    
}

/*----------  FOR ALBUM INDEX THUMBNAILS  ----------*/
.index {
	margin-top: 10%;
	margin-bottom:3%;
}

img {
	border: 1px solid #aaaaaa;
	width: 200px;
    margin: 1em;
}

.attributes {
	font-weight: bold;
    padding-left: 1.23em;
	font-size: 1em;
}

.col-centered {
	float: none;
	margin: 0 auto;
}

.alb-thumb {
	display: inline-block;
	

}

.show-image {
	border: 3px solid #aaaaaa;
	width: 400px;
    margin: 1em;
}
h2{
	font-family: 'Gruppo', cursive;
	font-size: 3.14em;
	padding-left: .3em;
}
h4{
	font-weight: bold;
	
}
h5{
	font-size: 1.23em;
	
}
sub-menu{
	margin-bottom:.4em;

}
show-thumb{
	padding-top: .5em;
	
}

