body {
/*	background-color: purple;*/
	font-family: monospace;
	text-align: center;
	background-image: url("http://40.media.tumblr.com/0a4cb3500f68a6c887e5b65d4f55df08/tumblr_mkwu1dT92f1qeei4to1_r1_500.png");
	background-size: cover;
	height: 100%;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.5em;
}

a {
	font-size: 1.4em;
}

img {
	width: 50%;
}

.pizzas {
	margin-top: 10%;

}
