
body { 
	font-family: Avenir;
}

h1 {
	text-align: center;
}

#container {
	width: 60%;
	margin: auto;
	padding: 0 25px 40px 10px;
	background-color: #DBCA69;
	border: 5px solid #D57500;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	box-shadow: 5px 5px 5px #888;
	position: relative;
}



#next {
	border: 5px solid;
	border-radius: 5px;
	width: 100px;
	position: absolute;
	background-color: #DCDCDC 
	color: black;
	margin: 0 2px 0 2px;
	top: 270px;
	left: 20px;
}



.qn {
	display: none;
}

.qn:first-child {
	display: block;
}

#prettysubmit {
	border: 5px solid;
	border-radius: 5px;
	width: 100px;
	position: absolute;
	background-color: #DCDCDC 
	color: black;
	margin: 0 2px 0 2px;
	top: 290px;
    left: 610px;
}	


	
    
