<!DOCTYPE html>
<html>
    <head>
        <title>Scotches</title>
          <link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
		  <link rel="stylesheet" type="text/css" href="/css/reset.css">
		  <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
    <header>
    <nav>
      <ul>
        <li><a href="/">Scotches</a></li>
        <li><a href="/scotches/new">Add a New Scotch</a></li>
        <li><a href="/scotches"> All Scotches</a></li>
      </ul>
    </nav>
  </header>
    <div class="info">
        <h1>Scotches</h1>
        <%= yield %>
    </div>
    </body>
</html>