
body {
	font-family: courier;
	color: #00FF3C;
	font-size: 24px;
	background: lightgrey;
  	background-image: url("img/space.jpg");
	
	/*bootsrap conflicts:;
	display: block;
  	margin-left: auto;
  	margin-right: auto;*/
  	text-align: center;

}

h1 {
	margin-top: 20%;
}

.col-centered {
	float: none;
    margin: 0 auto;
} 

li {
	 list-style-type: none;
}

input{
	font-size: 20px;
	border-radius: 10px;
	width: 250px;
	height: 50px;
}


ul {
	padding: 10px;
	margin: 10px;
 	border: 1px solid white;
	border-radius: 5px;
}

#form-submit-button{
	width: 100px;
	border-radius:6px;
	border:1px solid lightgreen;
	/*display:inline-block;*/
	cursor:pointer;
	color: white;
	background-color: lightgreen;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}
.form-submit-button:hover {
	background-color:#77a809;
}
.form-submit-button:active {
	color: green;
}


