<h1>Your Favorite Wine List</h1>
<form method="POST" action="/wines">
	Name: <br>
	<input type="text" name="wine[name]" value="Name">
<br>
	Category: <br>
	<input type="text" name="wine[category]" value="Category">
<br>
	Country: <br>
	<input type="text" name="wine[country]" value="Country">
<br>
	Region: <br>
	<input type="text" name="wine[region]" value="Region">
<br>
	Price: <br>
	<input type="text" name="wine[price]" value="Price">
<br>
	<input type="submit" value="Update">
</form>