/*#newForm {
	background-color: gray;
	background-image: url('/images/motown-featured.png');
	background-size: cover;
  background-repeat: no-repeat;
}*/

body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#page-title {
	color: #fff;
	margin: 0;
	padding-top: 20px;
}

/*#main-content {
	background-image: url('../images/magic-of-motown.png');
	background-size: cover;
  background-repeat: no-repeat;
	height: 649px;
	bottom: 0px;
	text-align: center;
}
*/
#motown-background-image {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 52px;
  left: 0;
	z-index: -999;
}

#page-title {
  margin-left: 30px;
}
.render_grayscale {
  opacity: 0.45;
}

#album-form {
	display: inline-block;
	background-color: rgba(0,173,133, 0.5);
	color: #000;
	position: absolute;
	bottom: 0;
	top: 52px;
	width: 100%;
	text-align: center;
}

.multiple-items {
	margin: 0 auto;
	padding-top: 80px;
	width: 70%;
	color: #fff;
}

.single-album {
	margin: 0 auto;
	position: relative;
}

#name-artist {
	position: absolute;
  top: 245px;
	display: inline;
	float: left;
	clear: both;
	padding: 0 5px;
	margin: 0;
  color: black;
}
#name-artist:hover {
  color: #00AD85;
}

#name-artist p {
	display: inline;
	float: left;
	clear: both;
	padding: 0 5px;
	margin: 0;
  font-weight: bold;
}

.index-cover {
	height: 240px;
	width: 240px;
}

.index-cover:hover {
  filter: invert(1);
  -webkit-filter: invert(1);
}

.home-page {
  color: #EEE;
  margin-bottom: 0px;
	height: 100%;
	width: 100%;
}

.inline-header {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 12px;
}

.navbar {
	margin-bottom: 0px;
}

.browse_button_div {
	position: relative;
    top: 540px;
}

#browse_albums_button {
	width: 350px;
	opacity: 0.8;
	font-size: 20px;
	background-color: #00AD85;
  color: white;
}
#browse_albums_button:hover {
  background-color: #fff;
  color: #00AD85;
}
.single-item {
    width: 40%;
}

/* BUTTON CSS */
.btn {
  font-family: 'Asap', sans-serif;
}
/*TEXT DETAILS*/
.header_lg {
  font-size: 36px;
  font-family: 'Asap', sans-serif;
}
.header_md {
  font-size: 24px;
  font-family: 'Asap', sans-serif;
}
.header_sm {
  font-size: 22px;
  font-family: 'Asap', sans-serif;
}
.text_lg {
  font-size: 18px;
  font-family: 'Asap', sans-serif;
}
.text_md {
  font-size: 16px;
  font-family: 'Asap', sans-serif;
}
.text_sm {
  font-size: 14px;
  font-family: 'Asap', sans-serif;
}
/*SHOWPAGE CSS*/

#showpage_container {
  width: 1000px;
  margin: 0 auto;
  padding-top: 58px;
}
#showpage_image_div {
/*  position: relative;*/
  display: inline-block;
  width: 500px;
  float: left;
/*  vertical-align: middle;*/
}

#showpage_content_div{
  font-weight: bold;
  color: black;
  text-align: left;
  position: relative;
  display: inline-block;
  width: 500px;
/*  vertical-align: middle;*/
}

#missing_art_text{
  margin-left: 34px;
}
#showpage_image {
  display: block;
  margin: 0 auto;
  width: 90%;
}
#missing_art_showpage_text{
  text-align: center;
  top: -220px;
}
#showpage_edit_buttons_div {
  text-align: center;
}
.showpage_edit_button {
  float: left;
  font-size: 15px;
  background-color: #00AD85;
  margin: 5% 0% 5% 25%;
  color: white;
}
.showpage_edit_button:hover {
  color: #00AD85;
  background: white;
}

#showpage_delete_button {
  float: right;
  font-size: 15px;
  background-color: #00AD85;
  margin: 5% 25% 5% 0%;
  color: white;
  border-radius: 5px;
  padding: 1%;
}

#showpage_delete_button:hover {
  color: #00AD85;
  background: white;
}

#return_to_albums_button_div{
  text-align: center;
  padding: 10px;
}
#return_to_albums_button {
  position: absolute;
  top: 70px;
  left: 20px;
  width: 200px;
  color: #00AD85;
  background-color: white;
  font-size: 16px;
}
#return_to_albums_button:hover {
  color: white;
  background-color: #00AD85;
}

.songList {
  list-style: none;
}

#new_song_form_table {
  text-align: center;
  margin: 0 auto;
}

#songTable {
  text-align: center;
  margin: 0 15%;
}

/*#addTracksBtn {
  margin: 0 auto;
  float: none;
  margin-top: 2%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  font-size: 1.2em;
  color: white;
  font-weight: bold;
  border: none;
}*/


.saveBtn {
  margin: 0 auto;
  float: none;
  margin-top: 2%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  font-size: 1.2em;
  color: white;
  font-weight: bold;
  border: none;
}

th {
  text-align: center;
  font-size: 1.2em;
}

table thead tr{
   height: 35px;
}

/*NAVBAR CSS*/
.navbar-default .navbar-nav>li>a:hover {
    color: #00AD85;
}
.navbar-default .navbar-brand:hover {
    color: #00AD85;
}

/*changes navbar font*/
a.navbar-brand {
  font-family: 'Asap', sans-serif;
}

ul.navbar-right {
  font-family: 'Asap', sans-serif;
}


/*media queries*/
/*@media (max-width: 1000px) {
  #showpage_container {
    width: 100%;
  }
  #showpage_image_div {
    display: block;
    width: 500px;
    float: none;
    margin: 0 auto;
  }
  #showpage_content_div {
    display: block;
    clear: left;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  #return_to_albums_button {
    top: 244px;
    left: 20px;
  }
}*/

/*SEARCH CSS*/
/*
#blank_canvas {
  background-color: white;
  height: 140px;
}*/
#search_bar_form {
  text-align: center;
  padding-top: 30px;
}

#search_bar {
  width: 400px;
  display: inline-block;
  font-size: 18px;
}
#search_button {
  margin: 10px;
  color: #00AD85;
  font-size: 16px;
}
#search_button:hover {
  margin: 10px;
  color: white;
  background: #00AD85;
}
.search_result_image {
  height: 240px;
  width: 240px;
}
.search_result_image_link:hover{
  text-decoration: none;
  color: black;
}
.default_image {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}
.default_image_text{
    position: relative;
    top: -130px;
    margin-bottom: -30px;
}
.search_result_image:hover {
  filter: invert(1);
  -webkit-filter: invert(1);
}
.search_result_album_title {
  color: black;
}

.search_result_album_title:hover {
  color: #00AD85;
  text-decoration: none;
}

/* NEW FORM STYLES */

#newAlbum {
	margin: 4% auto;
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	border-bottom: none;
	width: 35%;
	padding: .5% 0;
	border-radius: 10px;
}

.control-label {
	color: white;
	font-weight: bold;
	font-size: 1.5em;
}
#saveAlbumBtn {
  margin-top: 2%;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	font-size: 1.2em;
	color: white;
	font-weight: bold;
	border: none;
}


/*media queries*/
@media (max-width: 1000px) {
  #showpage_container {
    width: 100%;
  }
  #showpage_image_div {
    display: block;
    width: 500px;
    float: none;
    margin: 0 auto;
  }
  #showpage_content_div {
    display: block;
    clear: left;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  #return_to_albums_button {
    top: 244px;
    left: 20px;
  }
	#album-form {
	  top: 227px;
	}
	#motown-background-image {
		top: 200px;
	}
  .browse_button_div {
    top: 360px;
  }
}


