<h2>Microblog</h2>
<hr>


<p ng-if="home.posts.length === 0">No posts yet.</p>

<div ng-if="home.posts.length > 0">
	<div ng-repeat="post in home.posts">
		<p><strong>{{post.title}}</strong> - {{post.content}}</p><br>
	</div>
</div>

<div ng-show="main.currentUser()">
	<br>
	<h4>Add New Post</h4>
	<hr>
	<!-- TODO #15: Post Form here -->
	
	<form ng-submit="home.createPost()">
	  <div class="form-group">
	    <input type="text" ng-model="home.new_post.title" class="form-control" placeholder="Title">
	  </div>
	  <div class="form-group">
	    <textarea type="text" ng-model="home.new_post.content" rows="5" class="form-control" placeholder="Write your blog post here..."></textarea>
	  </div>
	  <input type="submit" value="Blog it." class="btn btn-block btn-info">
	</form>

</div>
