<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Niconne' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Kanit' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>

    <div class='navbar navbar-transparent navbar-fixed-top'>
          <div class='container'>
                  <a href='/artists' class='navbar-brand sheade'><i class="fa fa-headphones"></i>&nbsp;Throwing Sheade</a>
                  <button class = 'navbar-toggle' data-toggle = 'collapse' data-target= '.navHeaderCollapse'>
                      <span class = 'icon-bar'></span>
                      <span class = 'icon-bar'></span>
                      <span class = 'icon-bar'></span>
                  </button>
                  <div class = 'collapse navbar-collapse navHeaderCollapse'>
                      <div id="myScrollspy">
                              <ul class = 'nav navbar-nav navbar-right'>
                                {{#if user }}
                                      <pre>
                                        <li>{{user.fb.firstName}}</li>
                                      </pre>
                                      <li><a href="/logout">Logout</a></li>
                                    {{else}}
                                      <a href="/auth/facebook">Login with Facebook</a>

                                    {{/if}}
                                      <li><a href='#artists' class='nav-button'>Artists</a></li>
                                      <li><a class="twitter-follow-button" href="https://twitter.com/_vienVan"><i class="fa fa-twitter fa-2x"></i></a></li>
                              </ul>
                      </div>
                  </div>
          </div>
  </div>

      <header class="hero">
        <h1 class="logo">Throwing Sheade</h1>
        <h3 id="gangsta-quote">"Damn It Feels Good To Be A <span id='gangsta'>Gangsta</span>"</h3>
      </header>

<div id="artists">

      {{{body}}}
    </div>
      <script src="https://code.jquery.com/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>
