html {
	background-image: url("http://1.bp.blogspot.com/-Km7n1UPrqUk/UPvtbiF7UgI/AAAAAAAAI1w/0ue9dfq3_gU/s1600/IMG_3569.JPG");
	   
}
h1 {
	text-align: center;
	color: #FFFFFF;
	margin: 1em 0 0 0;
	font-family: 'Quicksand', sans-serif;
	font-style: bold;
	font-size: 3em

}
h2 {
	text-align:center;
	font-family: 'Quicksand', sans-serif;
	color: #FFFFFF;

}


form {
	text-align: center;
	margin: 0 auto;

}
ul {
	list-style-type: none;
	text-align: center;
	color: #FFFFFF;

}
li {
	font-size: 8em;
	font-family: 'Quicksand', sans-serif;

}
.button {
	background-color: #5EB4C1;
	color: white;

}