<h1> Edit Cookie </h1>

<form action='/cookies/<%= "#{@cookie.id}" %>' method="post">
<input type="hidden" name="_method" value="put">
	<div>
		<label for ="cookie[name]">Name:</label>
		<input name="cookie[name]" value='<%= "#{@cookie.name}" %>'>
	</div>

	<div>
		<label for ="cookie[cookie_type">Type of Cookie:</label>
		<input name="cookie[cookie_type]" value='<%= "#{@cookie.cookie_type}" %>'>
	</div>

	<div>
		<label for ="cookie[cookie_name]">Cookie Name:</label>
		<input name="cookie[cookie_name]" value='<%= "#{@cookie.cookie_name}" %>'>
	</div>

	<div>
		<input type="submit" value="Save Cookie">
	</div>

</form>