<h1> New Cookie </h1>

<form action="/cookies" method="post">
	<div>
		<label for ="cookie[name]">Name:</label>
		<input name="cookie[name]">
	</div>

	<div>
		<label for ="cookie[cookie_type">Type of Cookie:</label>
		<input name="cookie[cookie_name]">
	</div>

	<div>
		<label for ="cookie[cookie_name]">Cookie Name:</label>
		<input name="cookie[cookie_name]">
	</div>

	<div>
		<label for ="cookie[photo_url]">Post a photo:</label>
		<input name="cookie[photo_url]">
	</div>

	<div>
		<input id="addBtn" type="submit" value="Add Cookie">
	</div>
</form>