<h1> New Cookie </h1>

<form action="/cookies" method="post">
	<div>
		<label for ="cookie[name]">Name:</label>
		<input name="cookie[name]">
	</div>

	<div>
		<label for ="cookie[cookie_type">Type of Cookie:</label>
		<input name="cookie[cookie_type]">
	</div>

	<div>
		<label for ="cookie[cookie_name]">Cookie Name:</label>
		<input name="cookie[cookie_name]">
	</div>

	<div>
		<label for ="cookie[photo_url]">Photo url:</label>
		<input name="cookie[photo_url]">
	</div>

	<div>
		<label for ="cookie[recipe_url]">Recipe url:</label>
		<input name="cookie[recipe_url]">
	</div>

	<div class="addBtn">
		<input class="addCookie" type="submit" value="Add Cookie">
	</div>
</form>