<!-- This is what shows up on the general attractions page, it lists out all of the attractions and provides links to their respective pages -->

<ul>
  <% @attractions.each_with_index do |attraction, index| %>
    <a href="/attractions/<%= index %>">
      <li>
        <%= attraction %>
      </li>
    </a>
  <% end %>
</ul>4