<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
         <link rel="stylesheet" href="../public/style.css">
        <title>San Francisco Bucket List</title>  

<!-- //For some reason I am unable to link my style sheet to this file -->
<style>
body {
  background:url('IMG_8386.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  padding: 75px;
  text-align: center;
}

li{
	list-style-type: none;
}
</style>

</head>
    <body>
	<div class ="container">
    	<div class = "navbar navbar-fixed-top">
      		<h1>San Francisco Bucket List</h1>
     	</div>
     </div>
     <div class ="container">
      	<%= yield %>
     </div>
    </body>
</html>
