
body {
  font-family: 'Montserrat', sans-serif;
  color: black;
  
}

header {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

body , head, form, ul , li {

	text-align: center;
	display: table;
	margin: 0 auto;
	border-spacing: 10px;

}

html { 
        background: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcS2KrAOS0mpqJDEfqSwePeJHKxh_JnNSjtL_wsRyD0JL_nrftyP5Fy6IQ7z") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

}
.primary-button{
	background-color: grey;

}