<div id='menu'>
  <h1>Welcome to Dan's Bar!</h1>
    <h2>What would you like to drink... </h2>
      <table>
        <tr>
          <td onclick="location.href='http://localhost:9393/scotches'">Vodka</td>
          <td onclick="location.href='http://localhost:9393/scotches'">Rum</td>
          <td onclick="location.href='http://localhost:9393/scotches'">Tequila</td> 
        </tr>
        <tr>
          <td onclick="location.href='http://localhost:9393/scotches'">Bourbon</td>
          <td onclick="location.href='http://localhost:9393/scotches'">Gin</td>       
          <td onclick="location.href='http://localhost:9393/scotches'">Liqueur</td>
        </tr>
        <tr>
          <td onclick="location.href='http://localhost:9393/scotches'">Scotch Whisky</td>      
          <td onclick="location.href='http://localhost:9393/scotches'">Irish Whisky</td>
          <td onclick="location.href='http://localhost:9393/scotches'">Canadian Whisky</td>
        </tr>
      </table>
</div>
