<form method="POST" action="/snesgames">
  <input type="text" placeholder="Game Title" name="snes_game[title]"><br>
  <input type="text" placeholder="Developer" name="snes_game[developer]"><br>
  <input type="text" placeholder="Publisher" name="snes_game[publisher]"><br>
  <input type="text" placeholder="Year Released" name="snes_game[year_released]"><br>
  <input type="text" placeholder="Genre" name="snes_game[genre]"><br>
  <input type="text" placeholder="Box Art Url" name="snes_game[box_art_url]"><br>
  <label for="owned">I own this game</label>
  <input id="owned" type="checkbox" name="snes_game[owned]"><br>
  <input type="submit" value="Submit Game">
</form>
