* {

	margin: 3px;
}

header {

	background: purple;
	padding: 100px;

}

.main {
	text-align: center;
}

h1 {
	font-size: 55px;
}

.email, .git{
	font-size: 20px;
}
	
ul {

	list-style: none;
	text-align: center;
	padding: 0;
	font-size: 20px;
}

li {
	display: inline;

}

.grey {
	background: grey;
	padding: 100px;
	padding-top: 50px;
	padding-bottom: 500px;
	position: relative;
}

.content {

	padding-right: 250px;
}

.picture {

	position: absolute; 
	right: 50px;
	top: -150px;
	height: 250px;
	width: 250px;
	border: 2px solid white;
}


footer {

	padding-top: 100px;
}