<% include ./partials/head %>
<body>
	<div class="container">
		<% include ./partials/header %>
		<div class="container">
			<% include ./partials/quote/form %>
		</div>
		<% include ./partials/footer %>
	</div>
</body>
