<h2>Add A new Book!</h2>

<form method="POST" action="/books">
  Title: <br>
  <input type='text' name='book[title]' value='title'><br>
  Author: <br>
  <input type='text' name='book[author]' value='author'><br>
  <input type='submit' value='Submit'>
</form>
