<strong><%= @book.title %></strong>
<em><%= @book.author %></em>
<%= @book.rating %>

<form action="/books/<%= @book.id %>" method="POST">
  <input type="hidden" name="_method" value="delete">
  <input type='submit' value="Delete">
</form>
