ul li {
	display: inline-block;
}

nav {
	margin-top: 10px;
}

.top {
margin-left: 85px;
text-align: left;
}
.links {
	color: gray;
	text-decoration: none;
	font-size: 22px;
	display: inline-block;
}

.nav {
	margin-left: 40%;
	margin-right: 40%;
	margin-bottom: 0;
	margin-top: 0;
}

#home {
	color: black;
	text-decoration: none;
	font-size: 32px;
	font-weight: bold;
}

.line {
	border: solid 1px #4863A0;
	margin-top: 40px;
}

#info {
	text-align: left;
	padding: 20px;
	width: 50%;
	display: inline-block;
	float: left;
	margin-top: 75px;
	margin-left: 65px;
}
#photo {
	height: 300px;
	width: 250px;
	border: 3px double gray;
	margin-top: -50px;
	margin-right: 40px;
}
footer {
	margin-left: 40%;
	margin-top: 50px;
	color: blue;
}
footer a {
	text-decoration: none;
	padding: 5px;
}
.text {
	margin-left: 85px;
	margin-top: -20px;
}
