body{
  background-image: url(./background_pattern.png);
  background-repeat: repeat;

}

.header{

  font-size: 40px;

  margin-left: 20px;

}

.header:hover{
  background: white;
}

.navbar a{
  color: white;
  font-family: 'Oswald', sans-serif;
}

.navbar{
  background: rgba(255, 25, 50, 1);
  height:60px;
}

.navbar a:hover{
  background: rgba(255, 0, 255, 0);
}

#new-task-btn{
  float: right;
  background-color: rgba(255, 0, 255, 0);

  margin-right: 4%;

  font-size: 20px;
}

#new-task-btn:hover{
  color: yellow;
}


.list{
  top: 20%;
  /*left: 10%;*/

  text-align: left;



}





.list li{
  background-color: rgba(255,255,88,0.8);
  width: 90%;
  padding-bottom: 20px;

  border-radius: 10px;

  list-style-type: none;

  box-shadow:  0 15px 20px rgba(0, 0, 0, 0.3);
}

.list li p{
  padding-left: 5%;

  /*font-family: 'Roboto Slab', serif;*/

}

p{
  font-family: 'Roboto Slab', serif;
}

.task-title strong{
  /*background-color: #d3d3d3;*/
  background-color: rgba(0,150,150,0.2);
  line-height: 50px;

  font-size: 20px;
  font-family: 'Oswald', sans-serif;

  padding-left: 0;
}


.task-buttons form{
  display: inline;
  float: right;
  clear:left;

  /*margin-top: -100px;*/
}

button{
  margin: 5px;
  width: 40px;
  height: 60px;
}


 .edit button{
  border: none;

  font-size: 30px;
}

.delete button{
  background-color: #00e500;
  border: none;

  margin-right: 20px;

}

#new-submit{
  width: 20%;
}

.delete button:hover{
  background-color: #bf8;
}

media (min-width: 844px) {

  .navbar #new-task-btn{
    float: right;
    clear: left;
  }

}
