


body {
	margin: 0px;
	padding: 0px;
	background: #ECF0EC url(Paper-Background-Notebook-with-Spiral-Metal-Bracket.jpg) repeat;
	text-align: justify;
	font-family: 'Arvo', serif;
	font-size: 14px;
	color: #303030;





.post {
	margin-top: 50px;
}



.post .title {
	margin: 0;
	padding: 0px 0 0 0;
	margin-left: 30px;
	padding-left: 10px;
	font-size: 1.8em;
	color: #000000;
}













