@import url(http://fonts.googleapis.com/css?family=Playfair+Display+SC:700|Averia+Serif+Libre:400,400italic);

.container {
  max-width: 580px;
}

h1 {
  font-family: 'Playfair Display SC', serif;
  font-size: 5rem;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: gray;
}

body {
  font-size: 14px;
  font-family: 'Averia Serif Libre', cursive;
  line-height: 1.5;
}

ul#quotes {
  list-style: none;
  padding: 0;
}

blockquote p {
  font-size: 2.1rem;
  line-height: 1.3;
}
blockquote footer {
  margin-top: 0;
  font-style: italic;
}

#real-footer {
  margin-top: 3rem;
  font-size: 1.5rem;
  color: silver;
  position: absolute;
  right: 0px;
}
