body {
	background-image: url("old_mathematics_copy.png");
}

.text {
	font-family: "Inconsolata";
	text-align: center;
}

#resetButton {
	height: 20px;
	width: 300px;
	color: white;
	background-color: black;
	border: 1px solid #666;
	padding: 15px;
	font-size: 15px;
	text-align: center;
	margin: 40px auto;
}

.gameboard {
	text-align: center;
}

.hoverColor {
	background-color: yellow;
}

.cell {
	height: 200px;
	width: 200px;
	vertical-align: middle;
	display: inline-block;
	text-align: center;
	font-family: 'Coming Soon', cursive;
	line-height: 200px; 
	font-size: 50px;

}

#cell1 {
	border-right: 2px black solid;
	border-bottom: 2px black solid;
}

#cell2 {
	border-right: 2px black solid;
	border-bottom: 2px black solid;
}

#cell3 {
	border-bottom: 2px black solid;
}

.topRow {
	clear: right;
}

#cell4 {
	border-right: 2px black solid;
	border-bottom: 2px black solid;
}

#cell5 {
	border-right: 2px black solid;
	border-bottom: 2px black solid;
}


#cell6 {
	border-bottom: 2px black solid;
}

.middleRow {
	clear: right;
}

#cell7 {
	border-right: 2px black solid;
}

#cell8 {
	border-right: 2px black solid;
}

.bottomRow {
	clear: right;
}

