<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quotes App</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="..css/style.css" />
</head>
<body>
  <h1>Quotes</h1>
  <div class="container">
    <% for(var i=0; i< quotes.length; i++) {  %>
    <ul>
      <li><b>Text : </b> <%- link_to(quotes[i].text, '/quotes/'+quotes[i].id) %></li>
      <li><b>Author : </b> <%= quotes[i].author %></li>
      <li>
        <form action="/quotes/<%= quotes[i].id %>?_method=DELETE" method="POST">
        <input type="submit" name="delete" value="Delete"></form>
      </li>
    </ul>
  <% } %>
  </div>
  <hr>
    <div class="container">
        <% include ./partials/quotes/form %>
    </div>
    <% include ./partials/quotes/footer %>
</body>
