<!DOCTYPE html>
<html>
<head>
  <title>Welcome to killa$trains</title>
  <link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
  <body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/strains">Strains</a></li>
        <li><a href="/strains/new">Add A Strain</a></li>
      </ul>
    </nav>
  </header>
    <h1>killa$trains</h1>
    <%= yield %>
  </body>
</html>