<ul>
<% @foods.each do | food | %>
    <li>
        <p>
       
        <%= food.id %>
        <strong><%= food.title %>
        <br><%= food.order %></strong> 
        <br><%= food.table_number %></p>
    </li>



<% end %>
<a href="/foods/new">New Order</a>
</ul>