<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" type="text/css" href="">
        <title>RISE ABOVE</title>
    </head>
    <div>
        <body>
            <h1>JavaSkillet</h1>
            <%= yield %>
        </body>
    </div>
</html>
