<%= @food.title %>
<%= @food.order %>
<%= @food.table_number %>


	<form action="/foods/orders" method="post" class="">
  	<input type="hidden" name="method" value="get">
  	<input type="submit" value="post">
	</form>
 	<input type="button" name="method" value="get">
  	<input type="submit" value="post">
   