<div class="form-group">
  <label for=""></label>
  <input type="text" class="form-control" id="" placeholder="song title...">
  <input type="text" class="form-control" id="" placeholder="artist...">
</div>
