<h1>Create New Strain</h1>
<form method="POST" action="/strains">
  <label for="strain_name">Name:</label>
  <input type='text' name="strain[name]"/>

  <label for="strain_kind">Kind:</label>
  <input type='text' name="strain[kind]"/>

  <label for="strain_origin">Origin:</label>
  <input type='text' name="strain[origin]"/>

  <label for="strain_rating">Rating:</label>
  <input type='text' name="strain[rating]"/>
  
  <input type="submit" value="Submit">
</form>