<h2>Add a Challenge</h2>

<form action="/challenges" method="post">
	<label for="challenge[name]">Challenge:</label>
	<input name="challenge[name]">

	<label for="challenge[difficulty]">Difficulty:</label>
	<input name="challenge[difficulty]">

	<label for="challenge[start]">Start:</label>
	<input name="challenge[start]">

	<label for="challenge[end]">End:</label>
	<input name="challenge[end]">

	<label for="challenge[photo_url]">Photo_URL:</label>
	<input name="challenge[photo_url]">

	<input type="submit" value="Create">
</form>
