html{
	
	height: 100%;
}

body {

	background-image: url(./images/scifi-supernova.jpg);
	background-size: cover;
	background-repeat:repeat-x;
	height: 100%;
	margin: 0;

}

.Gameplay{
	display: inline-block;
	height: 500px;
	width: 600px;

}

.spaceShip{
	position: absolute;
	top: 350px;
	left: 20px;
	margin-right: auto;
	 margin-left: auto; 
	 width: 150px
	float:left;

}
.finish{
	top: 350px;
	left: 20px;
	float: right;
	margin-right: auto;
	margin-left: auto;
}
#displayWrapper{
	height: 200px;
}

ol {

	padding: 0;

}

p, ol, li {

	text-align: center;
	color: white;
	list-style-type: none;	
}
h1{
	text-align: center;
	color: white;
}



.box{
   

  width: 59px;
  height: 86px;
  margin: 1em;
  float: left;
  font-size: 75px;
  color: white;
  
}


/*#track {
	border: 3px black solid;
}*/

.refresh{
	float: center;
	text-align: center;
}
