.spaceShip{
	position: absolute;
	left: 20px;

}


#track {
	border: 3px black solid;
}

/*body{*/
	/*background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQT1Dt-bGmUsbHZ1weOP5HmaQwb-4r-5o2J_Ur4WjxWFmRJIewMkQ");
	-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;*/
/*}*/