<h2>New Pizza</h2>

<form action="/pizzas" method="post">
  <label for="pizza[name]">Name:</label>
  <input name="pizza[name]">

  <label for="pizza[sauce]">Sauce:</label>
  <input name="pizza[sauce]]">

  <label for="pizza[cheese]">Cheese:</label>
  <input name="pizza[cheese]]">

  <label for="pizza[mushrooms]">Mushrooms:</label>
  <input name="pizza[mushrooms]">

  <label for="pizza[extra_toppings]">Extra Toppings:</label>
  <input name="pizza[extra_toppings]">

  <input type="submit" value="Create">
</form>



