<!DOCTYPE html>
<html>
<head>
  <title>Tummy Pizza!</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" href="main.css" media="screen">

  
</head>
<body>
  <header>
   <!--   <h1>Tummy Pizza</h1> -->
  </header>
  <main>
    <%= yield %>
  </main>
  <footer>
  </footer>
</body>
</html>

