<h2>New pizza</h2>

<form action="/pizzas" method="post">
  <label for="pizza[name]">Name:</label>
  <input name="pizza[name]">

  <label for="pizza[sauce]">Sauce:</label>
  <input name="pizza[sauce]">

  <input type="submit" value="Create">
</form>
