.header{
	text-align: center;
	font-family: 'Rubik Mono One', sans-serif;
	color: white;

	margin-top: 100px;
}

.top-container{
	margin-left: 100px;
}

#entry-box{
	text-align: center;
	min-width: 400px;
	max-width: 600px;

	line-height: 40px;

	border-style: none;
	border-radius: 5px;
}

#entry-form{
	text-align: center;
	margin-bottom: 100px;

	font-family: 'Palanquin', sans-serif;
}

#submit-btn{
	margin-top: -20px;	
	background-color: #00cdcd;
	border-style: none;
	width: 50px;
	height: 50px;
	border-radius: 30px;

	font-size: 20px;

	color: white;

	font-family: 'Rubik Mono One', sans-serif;
}

#submit-btn:hover{
	margin-top: -20px;	
	background-color: #006767;
	border-style: none;
	width: 50px;
	height: 50px;
	border-radius: 30px;
}

body{
	background-image: url(../images/motorcycle.JPG);
	background-size: 3000px;
	background-position: -1500px;
	background-repeat: no-repeat;
	position: absolute;
}

ul{

	list-style-type: none;
	text-align: center;
	
	min-width: 400px;
	max-width: 600px;
	margin: 0 auto;
}

li{
	
	background-color: #00cdcd;
	border: 1px solid white;
	/*border-bottom: 2px solid black;*/
	font-family: 'Palanquin', sans-serif;
	color: white;

	border-radius: 10px;

	margin-bottom: 20px;

	position: relative;

	clear: both;

	width: 80%;

	margin: 0 auto;

	height: 100px;

}

#close{
	width: 20px;
	padding-left: 10px;
}


::-webkit-input-placeholder {
 font-size: 14px;
 text-transform: uppercase;
 text-transform: uppercase;
 text-align: center;
 font-weight: bold;

 color: #f7f7f7;
}
:-moz-placeholder { /* older Firefox*/
 font-size:14px;
 text-transform: uppercase;
 text-align: center;
 font-weight: bold;

 color: #f7f7f7;
}
::-moz-placeholder { /* Firefox 19+ */ 
 font-size: 14px;
 text-transform: uppercase;
 text-align: center;
 font-weight: bold;

 color: #f7f7f7;
} 
:-ms-input-placeholder { 
 font-size: 14px; 
 text-transform: uppercase;
 text-align: center;
 font-weight: bold;

 color: #f7f7f7;
}






























