<h1>Create New Place</h1>

<form method="POST" action="/pizzas">
    Restaurant: <br>
    <input type="text" name="pizza[restaurant]" value="Restaurant"><br>
    Syle: <br>
    <input type="text" name="pizza[style]" value="Style"><br>
    Stars: <br>
    <input type="radio" name="pizza[stars]" value="1">1
    <input type="radio" name="pizza[stars]" value="2">2
    <input type="radio" name="pizza[stars]" value="3">3
    <input type="radio" name="pizza[stars]" value="4">4
    <input type="radio" name="pizza[stars]" value="5">5
    <br>
    <br>
    <input type="submit" class=" btn-primary btn-lg" value="Submit">
</form>
