body {
	margin: 0;
	font-family: Lora,'Times New Roman',serif;
	font-size: 20px;
    color: #404040;
    line-height: 1.5; 
}

.intro-header {
	text-shadow: none;
	color: #fff; 
	background-color: #808080;
  	background: no-repeat center center;
  	background-attachment: scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	margin-bottom: 50px;
	display: block; 
	min-height: 500px; 
}

/* I want to use this, but I am not sure how to place it to work properly 
.overlay {
	position: absolute;
  	top: 0;
 	left: 0;
  	width: 100%;
  	height: 100%;
  	z-index: 10;
  	background-color: rgba(0,0,0,0.5); 
}
*/ 

.container {
	padding: 0 15px;
	margin-right: auto; 
	margin-left: auto;
	max-width: 80%;
}

.row {
	margin-right: -15px; 
	margin-left: -15px; 
}

.site-heading {
	padding: 150px 0;
}

h1 {
	font-size: 2em;
	margin-top: 0; 
	font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 800;
    text-align: center;

}

.post-preview > a {
  color: #404040;
  font-size: 1.5em; 
  line-height: 1.5em; 
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  text-decoration: none; 
}
.post-preview > a:hover,
.post-preview > a:focus {
  text-decoration: none;
  color: #0085a1;
}

h2 {
	margin-bottom: .1em;  
}

h3 {
	font-size: .75em; 
	margin-bottom: .1em;
	margin-top: 0px; 
	font-weight: 300; 
}

.post-meta {
	font-style: italic;
	color: #333; 
}

hr.small {
    color: #fff;
    max-width: 100px;
    margin: 15px auto;
    border: 0;
    border-top: 4px solid #fff;
}

.subheading {
	font-size: 1em; 
	line-height: 1.2; 
	margin-top: 30px; 
	display: block;
	font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight: 300; 
	text-align: center;

}

.row {
	margin: 0 auto;
	display: block;
}

.form-container {
	padding: 15px; 
	/* background-color: red;  */
	display: inline-block;
}


input {
	font-size: .75em; 
	position: relative;
	margin: 0px; 
	padding: 17px; 
	border: none;
	min-width: 200px; 
}


/* Button Styles */
.btn {
	font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
	text-transform: uppercase;
	font-weight: 800; 
	letter-spacing: 1px; 
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
  	-ms-touch-action: manipulation;
      touch-action: manipulation;
  	cursor: pointer;
  	-webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  	background-image: none;
 	border: 1px solid transparent;
  	border-radius: 0px; 
  	padding: 15px 25px; 
  	color: #fff;
    background-color: purple;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
