body {
	font-size: 20px;
	font-family: "Helvetica Neue";
	background-color: #dedee3;
	margin: auto;
	padding: 20px;
}

a {
	font-weight: bold;
}

strong {
	font-style: italic;
}

h1 {
	font-weight: bold;
	text-align: center;
}

.page { 
	margin: auto;
	width: 800px
}

.content {
	float: left;
}

.text {
	width: 300px;
}
