<div id= "edit">
<h2>Edit Pizza</h2>

<form action='/pizzas/<%= "#{@pizza.id}" %>' method="post">
  <input type="hidden" name="_method" value="put">
  <label for="pizza[name]">Name:</label>
  <input name="pizza[name]" value='<%= "#{@pizza.name}" %>'>

  <label for="pizza[photo_url]">Photo URL:</label>
  <input name="pizza[photo_url]" value='<%= "#{@pizza.photo_url}" %>'>

  <input type="submit" value="Create">
</form>
</div>