<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<div id = "menu">
<h1>Luca's pizzas</h1>
<nav>
	<ul>
		<button><li><a href="/pizzas">List</a></li></button>
		<button><li><a href="/pizzas/new">Add Pizza</a></li></button>
	</ul>
</nav>
</div>
	<main>
    <%= yield %>
  </main>
</body>
</html>