<div id= "edit">
<h2>New Pizza</h2>

<form action="/pizzas" method="post">
  <label for="pizza[name]">Name:</label>
  <input name="pizza[name]">

  <label for="pizza[photo_url]">Photo URL:</label>
  <input name="pizza[photo_url]">


  <input type="submit" value="Create">
</form>
</div>