table{
	margin: 0;
	border-radius: 12px;
}

td {
  border: 1px solid grey;
  width: 200px;
  height: 200px;
  text-align: center;
  font-size: 8em;
  box-sizing: border-box;
}

td:first-child{
	border:-left: none;
}

td:last-child{
	border-right: none;
}

thead tr td{
	border-top: none;
	border-bottom: none;
}

tfoot tr td{
	border-top: none;
	border-bottom: none;
}

.container, .playerTurn {
	text-align: center;
}
.X, .O {
	border-radius: 10px;
}

.X {
	background: Green;
}

.O {
	background: aquamarine;
}

.clear { background: white;
}

#reset {
	padding: 5px;
	width: 400px;
	font-size: 38px;
	border-radius: 11px;
	cursor: pointer;
}
#reset:hover{
	background: Red;
	border-color: white;
}