<h1>
<%= @pizza.name %>
</h1>
<ul>
  <li><%= @pizza.sauce %></li>
  <li>Has Cheese?... <%= @pizza.cheese %></li>
  <li><%= @pizza.extra_toppings %></li>
</ul>

<a href="/pizzas">Pizza List</a>
<br/>
<a href="/">home</a>
