.container {
	max-width: 960px;
	/*background-color: #1CB2B2;*/
	margin: 0 auto;
	/*padding: 3%;*/
}

body {
	background-color: #B73131;
	font-family: monospace;
	font-size: 1em;
	
	/*background-image: url('../theCookie.jpg');*/
}

#title {
	font-family: 'Candal', sans-serif;
}

.header {
	text-align: center;
	background-image: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcR51uUdKpq168V5VrOr6f5ajMZeim2LiSqrPkSXEHzv8jv0vILu");
	background-repeat: repeat;
	padding-bottom: 1%;
}

.cookies {
/*	background-color: #1CB2B2; /*aqua blu*/
	text-align: left;
	padding: 1%;
}

.mainBox {
	max-width: 900px;
	margin: 0 auto;
	margin-bottom: 20%;
	background-color: #25A79C;
/*	background-color: #055058;*/
	border-radius: 10px;
	padding-bottom: 5%;
	margin-top: 10%;
	border: 1px solid yellow;

}

#newEdit {
	max-width: 671px;
}

.cookieBox {
	text-align: center;
}

.EDbtn:hover {
	background-color: pink;
}

.EDbtn{
	font-size: 1em;
  background-color: #FE9A9A;
  border-radius: 5px;
  padding: 1%;
  float: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-top: 2%;
  color: #B73131;
/*	font-family: monospace;
	font-size: 1.5em;
	background-color: #1CB2B2;
	color: red;*/
/*	color: #055058;*/
/*	border-radius: 5px;*/
}

a#editBtn {
    text-decoration: none;
    color: #B73131;
    padding: 0 4%;
    font-size: 1em;
}

.editDelete {
	display: inline-block;
	margin-top: 2%;
}

li {
	list-style: none;
	text-align: center;
	margin-bottom: 2%;
}

ul li a.subTitle:hover {
	background-color: pink;
}

ul li a.subTitle {
	/*border: 1px solid yellow;*/
  text-shadow: 2px 2px pink;
	text-decoration: none;
	background-color: #E17983;
	color: #B73131;
	/*background-color: #055058;*/
	border-radius: 10px;
	padding: .5% 2%;
	font-size: 1.2em;
	font-weight: bold;
	font-family: 'Candal', sans-serif;
}

h1 {
	font-size: 3.5em;
	color: black;
	padding: 2% 0%;
	text-align: center;
}

#cookiesh2 {
	margin-top: 2%;
	text-align: center;
	font-size: 2.5em;
	text-decoration: underline;
}

h2 {
	text-align: left;
	padding: .5% 0;
	font-size: 1.7em;
	text-decoration: underline;
	font-weight: bold;
	text-decoration: none;
	margin-left: 2%;
}

h3 {
	font-size: 1.5em;
}

img {
	width: 50%;
}
a#recipe:hover {
	background-color: #E17983;
	border-radius: 10px;
	padding: 0 1%;
}

a#recipe {
	font-size: 1em;
	color: yellow;
	text-decoration: none;
}

a.eachCookie:hover {
	background-color: pink;
	border-radius: 10px;
	padding: 0 1%;
	border-radius: 10px;
}

.eachCookie {
	text-align: center;
}

a.eachCookie {
	list-style: none;
	font-size: 2em;
	color: #B73131;
	font-family: monospace;
	text-decoration: none;
	font-weight: bold;
}

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
    font-size: 1.7em;
}

input {
  display: inline-block;
  float: left;
  font-size: 1.5em;
  font-family: monospace;
}

.addBtn {
	text-align: center;
	clear: both;
	font-size: 1.1em;
}

input.addCookie {
	background-color: #FE9A9A;
	border-radius: 5px;
	padding: 1%;
	float: none;
	font-family: monospace;
	font-weight: 700;
	margin-top: 2%;
	color: #B73131;
}









