body {
  background: black;
}

table {
  margin: 0 auto;
  border-radius:10px;
  background: black;
}
td {
  border: 1px solid white;
  width: 150px;
  height: 150px;
  text-align: center;
  font-size: 84px;
  box-sizing:border-box;
} 

td:hover{
  cursor:pointer;
}

td:first-child{
  border-left: none;
}
td:last-child{
  border-right: none;
}

td:nth-child(2n+2){
  border-right: none;
  border-left: none;
}

thead tr td{
  border-top:none;
  border-bottom: none;
}

tfoot tr td{
  border-top:none;
  border-bottom: none;
}

.container, .playerTurn {
  text-align: center;
  color: white;
}

.X, .O {
  border-radius: 10px;
  background: black;
  color: white;
}

.clear {
  background: black;
}

#reset {
  padding: 5px;
  width: 80px;
  font-size: 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: black;
  color: white;
}


}