<form class="" action="/new" method="post">
  <div class="form-group">
    <label for="song">Add a new song</label>
    <input type="text" class="form-control" name="title" id="" placeholder="Title of song..." autofocus autocomplete="on">
    <input type="text" class="form-control" name="artist" id="" placeholder="Name of artist..." autocomplete="on">
    <input type="text" class="form-control" name="genre" placeholder="Genre of music...">
    <input type="submit" name="submit" value="Add">
  </div>
</form>
