<h1><%= @order.dish_name %></h1>
<h2>Dish Type:</h2>
<p><%= @order.dish_type %></p>
<h2>Table Number:</h2>
<p><%= @order.table_number %></p>
<h2>Special Requests?</h2>
<p><%= @order.special_requests %></p>
<a href="/orders">Return to all orders</a>