body {
  font-family: sans-serif;
  color: black;
}

/*display, position, float*/

/*this will keep the main section's max width no more than 960px and center it on the screen*/

/*Set max width, this is what future max and min widths should be set based on*/
header, main {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

main .column {
  width: 33.33%;
  float: left;
  min-width: 320px;
}
/* HEADER */


/* FOOTER */


/*MEDIA QUERIES*/
/*Do media queries max width from largest to smalles 960px, 640px*/

@media only screen and (max-width: 960px) {
  header nav ul li {
    }


@media only screen and (max-width: 640px) {
  }