<h2>New Pizza</h2>

<form action="/Pizzas" method="post">
  <label for="pizza[name]">Name:</label>
  <input name="pizza[name]">


  <label for="pizza[sauce]">Sauce:</label>
  <input name="pizza[sauce]">

  <input type="submit" value="Create">
</form>
