<div id="deathmetal_content">
	<img src="http://1.bp.blogspot.com/-tiURI7Nyzdo/UNU4YOO_pHI/AAAAAAAAA2Y/HrVPB2kYneA/s1600/Dark_Funeral_wallpaper.jpg" id="death_metal_image">
	<div id="death_metal_text_div">
	  <h1 id="death_metal_header">
	  	Welcome to<br>
	  	Motown<br>
	  	Thrasher
	  </h1>
	  <p id="death_metal_blurb">Your home for all things death metal.</p>
	</div>
</div>