<nav class="navbar navbar-default" id="transparent">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Motown Thrasher</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Anarchy Now</a></li>
      <li><a href="#">Light Things On Fire</a></li>
      <li><a href="#">Create Some Chaos</a></li>
      <li><a href="/" style="font-size: 20px">&#9760;</a></li>
    </ul>
  </div>
</nav>
