 <img src='../images/magic-of-motown.png' id="motown-background-image">
	<div class="home-page">
		<div class="browse_button_div text-center">
			<a href="/albums" class="btn btn default" id="browse_albums_button">Browse Albums</a>
		</div>
	</div>
