<img src='../images/magic-of-motown.png' id="motown-background-image" class="render_grayscale">
<div id="album-form">

    <fieldset>

      <!-- Form Name -->
      <h2 id="newAlbum">Add New Album</h2>
      <form method="POST" action="/albums" class="form-horizontal">
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="name">Album Name:</label>
        <div class="col-md-4">
          <input id="name" name="name" type="text" class="form-control input-md">
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="artistName">Artist Name:</label>
        <div class="col-md-4">
        <input id="textinput" name="artistName" type="text" class="form-control input-md">
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="releaseDate">Release Date:</label>
        <div class="col-md-4">
        <input id="releaseDate" name="releaseDate" type="text" class="form-control input-md">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="coverArt">Cover Art Url:</label>
        <div class="col-md-4">
        <input id="coverArt" name="photoUrl" type="text" class="form-control input-md">
        </div>
      </div>

      <div class="form-group">
        <button class="saveBtn" id="saveAlbumBtn">Save Album</button>
      </div>


  </form>

</fieldset>

</div>
