<!DOCTYPE html>
<html>
<head>
  <title>Welcome to the Pizza Shop</title>
  <link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">The Pizza Shop</a></li>
        <li><a href="/pizzas">Pizzas</a></li>
        <li><a href="/pizzas/new">Add Pizza</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer>
    &copy; PizzaShop
  </footer>
</body>
</html>