<form id="edit-quote-form" method="POST"
  action="/quotes/<%= quote._id %>?_method=PUT">
  <textarea name="text" class="form-control" id="quote-text"
    placeholder="Add your quote here ..."><%= quote.text %></textarea> <br>
  <input name="author" type="text" class="form-control" id="quote-author"
    value="<%= quote.author %>"
    placeholder="Who said it?"> <br>
  <button type="submit" class="btn btn-default">Update</button>
</form>
