<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body>
<div class="container">
	<head>
	<% include ../partials/header %>
	</head>

	<form action="/quotes" method="POST">
	<label for="quote-content">Quote:</label>
	<input id="quote-content" name="quote" type="text" class="form-control">
	<br>
	<label for="quote-orator">Quoted Person:</label>
	<input id="quote-orator" name="orator" type="text" class="form-control">
	<br>
	<input type="submit" value="Add Quote" class="btn btn-default" >
	</form>
	<br>
	
	<ul id="quotes">
		<% for(var i = quotes.length - 1; i >= 0; i --) { %>
			<blockquote>
				<p><%- link_to(quotes[i].quote, "/quotes/"+ quotes[i]._id +"/edit") %></p>
				<footer><%= quotes[i].orator %></footer>
			</blockquote>
		<% } %>
	</ul>
</div>

<% include ../partials/footer %>

</body>
</html>