<h1>Create New Flannel (Never do this...)</h1>
<form method="POST" action="/flannels">
	Title: <br>
	<input type="text" name="flannel[color]" value="Color"><br>
	Artist: <br>
	<input type="text" name="flannel[terribleLooking?]" value="terribleLooking?"><br>
	<input type="submit" value="Submit">
</form>