<h2>New job</h2>

<form action="/jobs" method="post">
  <label for="job[title]">Title:</label>
  <input name="job[title]">

  <label for="job[company]">Company:</label>
  <input name="job[company]">

  <label for="job[zip]">Zip:</label>
  <input name="job[zip]">

  <label for="job[salary]">Salary:</label>
  <input name="job[salary]">

  <label for="job[description]">Description:</label>
  <input name="job[description]">

  <input type="submit" value="Create">
</form>
