<ul>
<% @pokemons.each do | pokemon | %>
    <li>
        <p><strong><%= pokemon.name %></strong>, <%= pokemon.level %></p>
        <form action="/pokemons/<%= pokemon.id %>" method="post" class='delete'>
        	<input type="hidden" name="_method" value="delete">
        	<input type='submit' value="Release">
      	</form>

    </li>
<% end %>
</ul>