<!DOCTYPE html>
<html>
    <head>
        <title>Pokemon</title>
        <link rel="stylesheet" type="text/css" href="/css/reset.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">

    </head>
    <body>
      <header>
      	<nav>
      	  <ul>
      	    <li><a href="/pokemons">Pokemon</li>
      	    <li><a href="/pokemons/new">Create a Pokemon</a></li>
      	  </ul>
      	</nav>
      </header>

      <main>
        <%= yield %>
      </main>
    </body>
</html>