<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<script type="text/javascript" src="bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<title>Movie App</title>
</head>
<body ng-app="movieApp">
	<div ng-controller="movieController">
		<form ng-submit="addMovie()">
			<input type="text" ng-model="text" placeholder="Enter Movie" />
			<input type="submit" id="submit" value="Submit" />
		</form>
		<ng-pluralize count="moviesToWatch.length" when="{'0': 'You have seen all the movies', '1': '1 movie left to see', 'other': '{} movies to watch'}">{{moviesToWatch.length}}
		</ng-pluralize>
		<div ng-repeat="movie in moviesToWatch | orderBy: '-title' | limitTo: limit | filter: movieSearch">
  
  		<p ng-style="style"> <input type="checkbox" ng-click="style={'text-decoration': 'line-through'}"> {{movie.title}} <i ng-click="deleteMovie(movie)"class="fa fa-close"></i></p>

		</div>
		<a href="#" ng-click="toggleLimit()">View {{limit ? "More" : "Less"}}</a><br><br>
		<input ng-model="movieSearch" placeholder="Search Movie">
	</div>
</body>
</html>