<div class="container text-center">
<div id="main_pic_div"><img id="main_pic" src="/ticket-rail.png"></div>
<h1>Order.up!</h1>

<h3><a href="/orders">Manage existing orders</a></h3>
<h3><a href="/orders/new">Create a new order</a></h3>
</div>