<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Castles App</title>

    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/reset.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style.css">

  </head>
  <body>
    <div class="jumbotron">
      <h1>Castles & Country Houses</h1>
    </div>

    <%= yield %>

  </body>
</html>
