li {
	list-style-type: none;
	color:black;
	font-family: 'Fira Sans', sans-serif;
	font-size: 32px;
	color: white;
}

h1 {

text-align: left;
font-family: 'Fira Sans', sans-serif;
color: white;

}

.container {

	font-family: 'Fira Sans', sans-serif;
	color: white;

}

.header {
	margin: 50px 50px 50px 0px;

}

body {
	background: black;
}

button {
	background: white;
	color:black;
	font-family: 'Fira Sans', sans-serif;
	

}