body {

  background: url(images/glitter.gif);
	margin: 15px;

}



#outter {
		width: 1550px;
		height: 600px;
		position: relative;
		border: 5px solid grey;
		background-color: white;

}
#inner {
		background-color: lightgrey;

		width: 601px;
		
		height: 400px;
		border: 10px solid black;
		position: absolute;
		top: 162px;
    	left: 440px;

}


.box {
	width: 120px;
	height: 80px;
	border: .01px solid black;
	position: absolute;

}

.box1 {
	top: 0px;
	left: -8px;
}


.box2 {
	top: 0px;
	left: 114px;
}

.box3 {
	top: 0px;
	left: 236px;
}

.box4 {
	top: 0px;
	left: 358px;
}

.box5 {
	top: 0px;
	left: 480px;
}




.drag {

	position: absolute;
	left: -445px;
}

.set1 {

	top: 0px;

}

.set2 {
	top: 40px;

}

.set3 {

	top: 65px;
}

.set4 {
	top:95px;
}

.set5 {
	top: 110px;
}
#fullpic {

/*	display: none;
*/	position: absolute;
	top: 162px;
    left: 450px;

}


