<h2>Edit Pokemon</h2>

<form action="/pokemons/<%= @pokemon.id %>" method="post">
	<input type="hidden" name="_method" value="put">
	Name:<br>
	<input name="pokemon[name]" value="<%= @pokemon.name %>">
	<br>
	<br>
    Level: <br>
    <input name="pokemon[level]" value="<%= @pokemon.level %>"><br>
    <input type="submit" value="Save Pokemon">
</form>