<h2>Edit Pokemon</h2>

<form action="pokemons/<%= @pokemon.id %>" method="post">
	<input type="hidden" name="_method" value="put">
	Name:
	<input type="text" name="pokemon[name]" value="<%= @pokemon.name %>"><br>
    Level: <br>
    <input type="text" name="pokemon[level]" value="<%= @pokemon.level %>"><br>
    <input type="submit" value="Save Pokemon">
</form>