<h1>Create New Pokemon</h1>
<form method="POST" action="/pokemons">
    Name: <br>
    <input type="text" name="pokemon[name]" value="Name"><br>
    Level: <br>
    <input type="text" name="pokemon[level]" value="Level"><br>
    <input type="submit" value="Submit">
</form>