<!DOCTYPE html>
<html>
<head>
	<title>Cookiesss!!!</title>
	<link href='https://fonts.googleapis.com/css?family=Lato|Montserrat|Candal|Inconsolata' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css"
</head>
<body>
	<header class="header">
		<h1 id="title">Cookies Me!</h1>
		<nav>
			<ul>
				<li><a href="/cookies" class="subTitle">Cookies</a></li>
				<li><a href="/cookies/new" class="subTitle">Add a Cookie</a></li>
			</ul>
		</nav>
	</header>
	<main class ="mainBox">
		<%= yield %>
	</main>
	
</body>
</html>